extends layout

block content
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  .about-container
    .about-info-container
      .about-left
        h1.h1-about Our Story - 
          span.font Exclusive
      .about-right.box-container
        p.p-about Established in 2024, Exclusive is expected to become a leading online marketplace in Southeast Asia, operating from our headquarters at RMIT University's SGS Campus in Vietnam. 
          |As part of an ambitious Web Programming course project, our team combines diverse expertise and knowledge of full stack development to create an innovative e-commerce platform. 
          |From electronics to lifestyle goods, Exclusive is committed to rapid growth and aims to offer a unique and comprehensive shopping experience.